 body {
      font-family: 'Roboto', sans-serif;
      background-color: #f1f2f3;
      padding: 20px;
      margin: 0;
      user-select: none;
    }

    .material-symbols-rounded {
      font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    }

    .header {
      display: flex;
      align-items: center;
    }

    .header span {
      margin-right: 10px;
      color: black;
    }

    .header:hover span,
    .header:hover h1 {
      color: grey;
    }

    .invoice {
      max-width: 800px;
      margin: auto;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      padding: 40px;
    }

    h1 {
      margin: 0;
      color: black;
      cursor: pointer;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      background-color: #fff;
    }

    th,
    td {
      border-bottom: 1px solid #e0e0e0;
      padding: 16px;
      text-align: left;
    }

    th {
      background-color: #fff;
      color: black;
    }

    td {
      background-color: #fff;
      text-align: right;
    }

    .description-col {
      width: 35%;
    }

    .quantity-col,
    .price-col {
      width: 20%;
    }

    .total-col {
      width: 25%;
      text-align: right;
    }

    .totals {
      text-align: right;
      margin-top: 20px;
      position: relative;
    }

    .no-print {
      display: none;
    }

    @media print {
      .no-print {
        display: none !important;
      }
    }

    input[type="text"],
    input[type="number"] {
      width: calc(100%);
      box-sizing: border-box;
      word-wrap: break-word;
      margin-top: 4px;
      margin-bottom: 4px;
      border: none;
      border-bottom: 2px solid #f5f5f5;
      outline: none;
      background-color: transparent;
    }

    .add-row-btn,
    .rmw-row-btn,
    .print-row-btn,
    button {
      display: inline-block;
      margin-top: 20px;
      float: left;
      padding: 14px 28px;
      position: left;
      margin-right: 5px;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      font-size: 1em;
      transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .add-row-btn {
      background-color: #189bcc;
    }

    .add-row-btn:hover {
      background-color: #4b4e6c;
    }

    .rmw-row-btn {
      background-color: #f68b70;
    }

    .rmw-row-btn:hover {
      background-color: #f35a33;
    }

    .print-row-btn {
      background-color: darkgrey;
    }

    .print-row-btn:hover {
      background-color: grey;
    }

    button {
      margin-top: 20px;
      display: block;
    }

    .footer {
      text-align: center;
      margin-top: 40px;
      font-size: 0.8em;
      color: #666;
    }

    .tax-field strong {
      margin-right: 10px;
      white-space: nowrap;
    }

    .tax-field input {
      width: 80px;
      margin-left: 5px;
    }

    .tax {
      display: flex;
    }
